.magic-elements-addnew-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    overflow: auto;
  
    .magic-elements-addnew-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      width: 90%;
      max-width: 700px;
      margin: 100px auto; // centers element horizontally and provides vertical margin
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      animation: fadeIn 0.3s;
      min-height: 400px;
      position: relative;

      &.loading{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .magic-elements-close-popup {
        position: absolute;
        left: 100%;
        top: 0;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .magic-elements-addnew-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
  
        h2 {
          margin: 0;
          font-size: 1.5rem;
        }
      }
  
      form {
        .magic-elements-form-group {
          margin-bottom: 15px;
  
          label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
          }
  
          input[type="text"],
          select {
            width: calc(100% - 20px);
            padding: 10px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            font-size: 1rem;
  
            &:focus {
              border-color: #007acc;
              outline: none;
            }
          }
        }
  
        .magic-elements-form-actions {
          display: flex;
          justify-content: flex-end;
  
          .button-primary {
            background-color: #007acc;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
  
            &:hover {
              background-color: #005ea1;
            }
          }
        }
      }
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: scale(0.9);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  