.magic-elements-builder-sections{
    ul.magic-elements-builder-list{
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 30px;
        display: flex;
        gap: 20px;
        li{
            a{
                display: flex;
                flex-direction: column;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                font-weight: 600;
                padding: 20px 30px;
                border-radius: 10px;
                border: 1px solid #e0e0e0;
                transition: all 0.3s ease;
                &:hover, &.active{
                    background-color: #f0f0f0;
                }
                svg{
                    width: 70px;
                    height: 70px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
//  builder preview 
@import './preview.scss';
// add new template
@import './addnew.scss';
.status-inactive{
    color: #ff0000;
}
.status-active{
    color: #00ff00;
}