@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/utilities/api";

// custom css ===============
.magicelements-accordion-item{
    .magicelements-accordion-content{
        p{
            margin: 0;
        }
    }
}
.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}
/* Style-Specific Adjustments */
.magicelements-accordion-wrapper.style_three .magicelements-accordion-content {
    display: block; /* All items open by default */
}

.magicelements-icons{
    order: 2;
}