
.icon-box {
    display: flex;
    gap: 16px;
    border: 1px solid rgb(205, 205, 200);
    border-radius: 4px;
    padding: 20px;
    .icon{
        svg{
            width: 100px;
        }
    }
    &--icon-left {
      flex-direction: row;
      
    }
    &--icon-right {
      flex-direction: row-reverse;
    }
    &--icon-top {
      flex-direction: column;
      
    }
    &--icon-bottom {
      flex-direction: column-reverse;
    }
  }