.info-box{
    border: 1px solid rgb(229, 228, 228);
    border-radius: 4px;
    .my-info-box {
        text-align: center;
        .info-box-icon {
          font-size: 36px;
          margin-bottom: 10px;
        }
        &.icon-position-left,
        &.icon-position-right {
          .info-box-flex {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            gap: 12px;
          }
      
          .info-box-icon {
            margin: 0;
          }
        }
      
        &.icon-position-right {
          .info-box-flex {
            flex-direction: row-reverse;
          }
        }
      }    
}
