.info-box {
    display: flex;
    gap: 16px;
    .info-icon{
        svg{
            width: 100px;
        }
    }
    &--icon-left {
      flex-direction: row;
      
    }
    &--icon-right {
      flex-direction: row-reverse;
    }
    &--icon-top {
      flex-direction: column;
      
    }
    &--icon-bottom {
      flex-direction: column-reverse;
    }
  }
  