// Mixins
@mixin flex {
    display: flex;
}

@mixin color-white {
color: white;
}
  
  .multiple-button-wrapper {
    @include flex;
    flex-wrap: wrap;
    .bt-item {
      @include flex;
      .btn-item-wrapper {
        display: inline-block;
        .magic-button {
          @include flex;
          @include color-white;
          align-items: center;
          background-color: burlywood;
          text-decoration: none;
        }
      }
  
      &:first-child {
        .btn-item-wrapper {
          .magic-button {
            background-color: rgb(190, 61, 61);
            @include color-white;
          }
        }
      }
    }
  }