$flex: flex;
@mixin flex {
  display: $flex;
}
.team-card {
  .img-part{
  @include flex;
  justify-content: center;
  }
}

// for design macing. --============
.icon-item{
  width: 50px;
}
svg{
  width: 30px;
}
// .team-card{
//   background-color: cadetblue; //option
//   display: flex;
//   flex-direction: column;
// }
