$flex: flex;
@mixin flex {
  display: $flex;
}
.team-card {
  .img-part{
  @include flex;
  justify-content: center;
  }
  .magic-team-social-icons{
    @include flex;
    a{
      position: relative;
    height: 75px;
    width: 75px;
    @include flex;
    justify-content: center;
    align-items: center;
    }
  }
}
// .i-box{
//   position: relative;
// }

// for design macing. --============
// .icon-item{
//   width: 50px;
// }
svg{
  width: 30px;
}
// .team-card{
//   background-color: cadetblue; //option
//   display: flex;
//   flex-direction: column;
// }
