.emk-button {
    display: inline-block;
    line-height: 1;
    background-color: #69727d;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 3px;
    color: #fff;
    fill: #fff;
    text-align: center;
    transition: all .3s
}

.emk-button:focus,.emk-button:hover,.emk-button:visited {
    color: #fff
}

.emk-button-content-wrapper {
    display: flex;
    justify-content: center
}

.emk-button-icon {
    flex-grow: 0;
    order: 5
}

.emk-button-icon svg {
    width: 1em;
    height: auto
}

.emk-button-icon .e-font-icon-svg {
    height: 1em
}

.emk-button-text {
    flex-grow: 1;
    order: 10;
    display: inline-block
}

.emk-button.emk-size-xs {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 2px
}

.emk-button.emk-size-md {
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 4px
}

.emk-button.emk-size-lg {
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 5px
}

.emk-button.emk-size-xl {
    font-size: 20px;
    padding: 25px 50px;
    border-radius: 6px
}

.emk-button .emk-align-icon-right {
    margin-left: 5px;
    order: 15
}

.emk-button .emk-align-icon-left {
    margin-right: 5px;
    order: 5
}

.emk-button span {
    text-decoration: inherit
}